
<h2>最新消息列表</h2>
<p>最近本站熱門討論項目</p>
<div class="media border p-3">
  <img src="img_avatar3.png" alt="John Doe" class="align-self-start mr-3" style="width:60px;">
  <div class="media-body">
    <h4>Peter Wang <small><i>發表於 五月 19, 2021</i></small></h4>
    <p>最新 MVC 框架發表了！</p>
    <div class="media p-3">
      <img src="img_avatar4.png" alt="Jane Doe" class="align-self-start mr-3" style="width:45px;">
      <div class="media-body">
        <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
        <p>Lorem ipsum...</p>
      </div>
    </div> 
  </div>
</div>
<p>
    {{ name }} is a {{ occupation }}
</p>
<p id="demo">Hello, This is a site</p>
<button type="button" onclick='demo()'>Click Me !!</button>
<br>
<button onclick="turnOn()">Turn on the light</button>
<img id="myImage" src="pic_bulboff.gif" style="width:100px">
<button onclick="turnOff()">Turn off the light</button>
