<h2>New</h2>
        <p>Recently popular discussion items on this site</p>
        <div class="media border p-3">
            <img src="img_avatar3.png" alt="John Doe" class="align-self-start mr-3" style="width: 60px;">
            <div class="media-body">
                <h4>Peter Wang<small><i> 19/05/2021</i></small></h4>
                <p>The latest MVC framework is released!</p>
                <div class="media p-3">
                    <img src="img_avatar4.png" alt="Jane Doe" class="align-self-start mr-3" style="width: 45px;">
                    <div class="media-body">
                        <h4>Jane Doe<small><i>Posted on February 20 2016</i></small></h4>
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>
        </div>
<p>{{name}}is a {{occupation}}</p>

